.container {
    background-color: #e4802e;
    padding: 5px;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.header1{
    margin: -10px -525px;
    padding: 5px -6px;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.logoa1{
    margin: -20px -325px;
    padding: 5px -7px;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    color: rgb(236, 236, 236);
    list-style: none;
    display: flex;
    position: absolute;
    left: 700px;
    flex-wrap: wrap;
}

.menu>li {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    font-size: medium;
    padding: 25px;
    flex-direction: row;
    transition: all 0.25s;
    cursor: pointer;
}

.menu>li:hover {
    background-color: rgb(255, 236, 220);
    border-radius: 50px 125px 100px 10px;
    color: rgb(0, 0, 0);
    transition: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.logo {
    padding: 0px 60px;
    cursor: pointer;
}
