.card{
    width: 300px;
    height: 300px;
    border-radius: .5em;
    padding: .2em;
    box-shadow: 1px 1px  5px;
    margin: 20px;
    overflow: hidden;
}

.card>p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.image{
    object-fit: contain;
}
