.text {
    text-align: center;
    margin: 20px;
    border-radius: 20px 20px;
    background-color: rgb(255, 162, 74);
    padding: 50px;
    color: rgb(255, 255, 255);
    font-size: 125%;
}

.container {
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
}

.boton {
    background-color: #d18a38;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 20px;
}


.boton:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}