.text {
    text-align: center;
    margin: 20px;
    border-radius: 20px 20px;
    background-color: rgb(255, 162, 74);
    padding: 50px;
    color: rgb(255, 255, 255);
    font-size: 125%;
}

.container {
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
}