.box {
    display: flex;
    margin: 15px;
    padding: 5px 200px 5px;
}

.container {
    display: flex;
    margin: auto;
    justify-content: center;
    background: rgb(255, 238, 206);
    width: 90%;
    height: auto;
}

.container>p {
    display: inline;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}