.texts {
    text-align: center;
    margin-right: 40px;
    border-radius: 20px 20px;
    background-color: rgb(238, 164, 94);
    padding: 50px;
    color: aliceblue;
    font-size: 1.5em;
    display: flex;
}

.logo {
    display: contents;
    margin-bottom: 500px;
    padding-left: 200px;
    position: absolute;
    justify-content: center;
}

.iz {
    display: inline-table;
    float: left;
    position: absolute;
    padding-left: 100px;
    padding-right: 100px;
    overflow: hidden;
}

.de {
    display: inline-table;
    float: right;
    position: absolute;
    padding-left: 900px;
    padding-right: 100px;
    overflow: hidden;
}

.redirect_button {
    background-color: #e4802e;
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin-left: 3em;
    margin-right: 3em;
    font-family: "Rouge Script", cursive;
    font-size: 2em;
    transition: all 0.25s;
}

.redirect_button:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}