.platos {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 10em;
  margin-bottom: 10em;
}

.huecas {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 10em;
  margin-bottom: 10em;
}

.redirect_button {
  background-color: #e4802e;
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  margin-left: 3em;
  margin-right: 3em;
  font-family: "Rouge Script", cursive;
  font-size: 2em;
  transition: all 0.25s;
}

.title {
  text-align: center;
  font-family: "Rouge Script", cursive;
  font-size: 6rem;
}

.image_container {
  background-color: rgba(255, 187, 97, 0.671);
  width: 300px;
  height: 160px;
  padding: 0.5em;
  margin-left: 3em;
  margin-right: 3em;

}

.image_menu {
  object-fit: contain;
}

.image_logo {
  margin-left: auto;
  margin-right: auto;
  display: none;
}
.redirect_button_nos {
  background-color: #e4802e;
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  margin-left: 3em;
  margin-right: 3em;
  font-size: 1.3em;
  
}
.redirect_button:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}


