.container {
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
    padding-left: 50px;
}

.titulo {
    text-align: left;
    padding-left: 100px;
}

.imagenes .image {
    margin: -140px 1em;
    /*altura*/
    text-align: left;
    padding-left: 30px;
    display: flex;
    object-fit: contain;
}

.imagenes .image1 {
    margin: -28em 7em;
    text-align: right;
}

.texts {
    margin: -430px 43.1em;
    width: 46em;
    border-radius: 10px 10px;
    background-color: rgb(255, 162, 74);
    padding: 230px 0px 238px;
}

.texts1 {
    text-align: center;
    margin: 60px;
    border-radius: 20px 20px;
    background-color: rgb(255, 162, 74);
    padding: 60px;
    color: rgb(255, 255, 255);
    font-size: 140%;
}

.histo {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    margin: 15em 2em;
    background-color: rgb(179, 86, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px 10px;
    padding: 15px;
}

.titulo1 {
    text-align: center;
    font-family: "Rouge Script";
    font-size: 5rem;
    margin: -5.7em;
}

.ubica {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    margin: 15em;
}

.boton {
    background-color: #d18a38;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 20px;
}

.boton:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}