.container {
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
}

.texts {
    text-align: center;
    margin: 20px;
    border-radius: 20px 20px;
    background-color: rgb(238, 164, 94);
    padding: 50px;
    color: aliceblue;
    font-size: x-large;
}