.container {
    display: flex;
    flex-wrap: wrap;
}

.historia {
    font-family: "Rouge Script", cursive;
    font-size: xx-large;
    text-align: center;
    justify-content: center;
    margin: auto;
    display: flex;
    border-radius: 25px;
    padding: 20px;
    height: auto;
    width: 38em;
    background-color: rgba(255, 187, 97, 0.671);
}

.ingre {
    padding: 50px;
    background-color: rgb(255, 207, 162);
    margin: 50px 55em 0px 140px;
    border-radius: 10px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.huec {
    padding: 20px;
    background-color: rgb(255, 207, 162);
    margin: 30px 55em 0px 140px;
    border-radius: 10px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.prep {
    padding: 20px;
    background-color: rgb(248, 146, 50);
    margin: -353px 10em 0px 42em;
    border-radius: 10px 10px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.boton {
    background-color: #d18a38;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 20px;
}

.boton:hover {
    justify-content: center;
    background-color: #F4E3BD;
    color: rgb(0, 0, 0);
}

.ingre>h4 {
    text-align: center;
    font-family: "Rouge Script", cursive;
    position: relative;
    font-size: 2em;
}

.huec>h4 {
    text-align: center;
    font-family: "Rouge Script", cursive;
    position: relative;
    font-size: 2em;
}

.prep>h4 {
    text-align: center;
    font-family: "Rouge Script", cursive;
    position: relative;
    font-size: 2em;
}