.container {
    display: flex;
    flex-wrap: wrap;
}

.texts1 {
    text-align: center;
    margin: 20px;
    border-radius: 20px 20px;
    background-color: rgb(248, 146, 50);
    padding: 50px;
    color: rgb(255, 255, 255);
    font-size: 125%;
}

.ingre {
    padding: 3px 5em;
    background-color: rgb(255, 207, 162);
    margin: 50px 55em 0px 140px;
    border-radius: 10px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.huec {
    padding: 3px 5em;
    background-color: rgb(255, 207, 162);
    margin: 30px 55em 0px 140px;
    border-radius: 10px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.prep {
    padding: 3px 3em;
    background-color: rgb(248, 146, 50);
    margin: -353px 10em 0px 42em;
    border-radius: 10px 10px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}